/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    height: 100vh;
    max-width: 43rem;
    margin: 0 auto;
    background: #f4f4f9;
    color: #333;
    font-family:'Times New Roman', Times, serif;
    border: 1px solid red;
}

header {
    grid-area: header;
    padding: 0.5rem;
}
header, footer {
    font-size: 1.4rem;
    background: #003366;
    color:#fff;
    text-align: center;
}

main {
    display: grid;
    grid-area: main;
     grid-template-rows: auto auto auto 1fr;
    grid-template-areas:
    "budget" "goals" "expenses" "stats";
    padding: 0.3rem;
    gap: 0.5rem;
    border: 1px solid greenyellow;
}
.budget-card, .goals-card, #expenses-card{
    display: flex;
    gap: 1rem;
    padding: 0.2rem;
    border-radius: 0.6rem;
    background: #d2d1e2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

} 
.budget-holder {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.goals-holder, .expenses-holder {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    max-height: 150px;
    overflow-y: auto;
}

#expense-list {
    overflow-y: auto;
    font-size: 0.8rem;
    text-align: center;
}

#statistics {
    grid-area: stats;
    display: flex;
    padding: 0.2rem;
    background: #d2d1e1;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
    grid-area: footer;
    font-size: 1rem;
    padding: 0.5rem;
}